/*CSS geral do site*/

:root{
    --corDefundo1: #000000;
    --corDefundo2: #171717;
    --corDefundo3: #454545;
    --corFontePadrao: #F3F5F9;
    --fontePadrao: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--corDefundo1);
    color: var(--corFontePadrao);
    font-family: var(--fontePadrao);
}